{% extends 'base.html.twig' %}

{% block title %}Liste Locataires
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: red;
			padding: 2px 6px;
		}
	</style>

	<div class="container">

		<div class="mt-5 mb-5 ">
			<h1>
				Liste Locataires
			</h1>
			<a href="{{ path('ajout-locataire') }}" class="btn btn-success">
				Ajouter un Locataire
			</a>


		</div>


		<div class="row" >
			<div class="col-md">


				<div class="card shadow-lg  mb-5 bg-body">
					<div class="card-header">
						<div class="card-body media align-items-center text-center row">

							<div class="col mr-3 nameSearch">
								<h6>#</h6>
							</div>
							<div class="col mr-3">
								<h6>Nom</h6>
							</div>
							<div class="col mr-3">
								<h6>Prénom</h6>
							</div>
							<div class="col mr-3">
								<h6>Email</h6>
							</div>
							<div class="col mr-3">
								<h6>Téléphone</h6>
							</div>

							<div class="col mr-3"></div>


							<div class="media-right ml-3"></div>
						</div>
					</div>
					<div class="card-body">

						{% for loc in locataires %}
							<div class="card-list ">


								<div class="card-body">
									<div class=" media align-items-center text-center row">

										<div class="col mr-3 nameSearch">
											<p>{{loc.id}}</p>
										</div>
										<div class="col mr-3">

											<p>
												{{loc.nom}}
											</p>

										</div>
										<div class="col mr-3">
											<p>
												{{loc.prenom}}
											</p>
										</div>
										<div class="col mr-3">
											<p>{{loc.mail}}</p>
										</div>
										<div class="col mr-3">
											<p>{{loc.tel}}</p>
										</div>

										<div class="col mr-3">
											<a href="fiche-locataire/{{loc.id}}">
												<i class="fas fa-circle-info"></i>
											</a>
											|
											<a href="modifier-locataire/{{loc.id}}">
												<i class="fas fa-pen"></i>
											</a>
											|
											<a href="delete-locataire/{{loc.id}}">
												<i class="fas fa-trash"></i>
											</a>


										</div>


									</div>
								</div>


							</div>


						{% endfor %}


					</div>
				</div>
			</div>

		</div>

	</div>
{% endblock %}
