{% extends 'base.html.twig' %}

{% block title %}Liste Locataires{% endblock %}

{% block body %}



<div class="container">


		<div class="card shadow-lg  mb-5 bg-body mt-5">
			<div class="card-header">

				<h1>
					Modifier Locataire</h1>


			</div>
			<div class="card-body media align-items-center  row p-5">


		

        
  <form method="post" action="/modifier-locataire/{{locataire.id}}" class="mt-3 row  g-3">
     <label for="nom" class="form-label">Nom</label>
    <input type="text" name="nom" id="nom" value="{{locataire.nom}}" class="form-control" required>

    <label for="prenom" class="form-label">Prénom</label>
    <input type="text" name="prenom" id="prenom" value="{{locataire.prenom}}" class="form-control" required>

    <label for="mail" class="form-label">Email</label>
    <input type="email" name="mail" id="mail" value="{{locataire.mail}}" class="form-control" required>

    <label for="tel" class="form-label">Téléphone</label>
    <input type="tel" name="tel" id="tel" value="{{locataire.tel}}" class="form-control" required>

    
       <button type="submit" value="1" name="modifierLocataire" class="btn btn-success">Modifier</button>
  </form>


			</div>
{% endblock %}
